* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.mainTitle {
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    font-weight: 100;
    border-bottom: solid 1px #000051;
    user-select: none;
    width: fit-content;
    height: 30px;
    margin-bottom: 25px;
}

.ocultar {
    display: none;
}

.visualizar {
    display: block;
}

#caixaPrincipal {
    width: 800px;
    min-height: 700px;
    overflow: hidden;
    /* background-color: #000; */
    border: solid black 2px;
    border-radius: 50px;
    margin: 5px auto;
}

#header {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    min-height: 150px;
    border-bottom: solid black 2px;
    /* background-color: brown; */
    background-color: #1a237e;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    color: #ffffff;
}

.title {
    width: 400px;
    height: 50px;
    margin-top: 30px;
    /* background-color: #0ff; */
    float: left;
}

.title h1 {
    width: 500px;
    height: 50px;
    font-size: 24px;
    /* background-color: #0ff; */
    float: left;
}

.title span {
    font-size: 18px;
    font-weight: 200;
    /* background-color: #0ff; */
}

#headerImg {
    width: 200px;
    height: 100px;
    /* background-color: #000fff; */
    float: right;
    margin-right: 50px;
    text-align: center;
}

#headerImg img {
    width: 150px;
    height: 100px;
}

#menu {
    /* background-color: aqua; */
    width: 100%;
    height: 100px;
    border-bottom: solid black 2px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #000051;
    color: #ffffff;
}

#menuContainer {
    width: 500px;
    height: inherit;
    float: left;
    /* background-color: beige; */
}

#options {
    float: left;
    width: 200px;
    height: inherit;
    /* background-color: cyan; */
}

#menu h1 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}

#logout {
    font-size: 14px;
    font-weight: 300;
    float: right;
    width: 75px;
    height: 30px;
    padding-top: 5px;
    background-color: #1a237e;
    border-radius: 50px;
    user-select: none;
    text-align: center;
}

#logout:hover {
    width: 80px;
    height: 35px;
    padding-top: 8px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #534bae;
}

#logout:active {
    transition: 0.2s;
    background-color: #ffffff;
}

.menuItems {
    float: left;
    margin-right: 25px;
    width: 100px;
    height: 80px;
    text-align: center;
    user-select: none;
    transition: 0.7s;
    display: block;
}


/* .cmsConteudo {
    
} */

.menuItems:hover {
    border: solid 1px black;
    background-color: #534bae;
    cursor: pointer;
    border-radius: 50px;
}

.menuItems:active {
    background-color: #ffffff;
    transition: 0.2s;
}

.menuItems img {
    width: 90px;
    height: 80px;
    user-select: none;
}

.menuItems h3 {
    font-size: 12px;
    font-weight: 300;
}

#conteudo {
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    border-bottom: solid black 2px;
    transition: all 0.5s;
}

#faleConosco {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* opacity: 1;
    visibility: visible; */
    /* display: none; */
}

#faleConosco table {
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    background-color: #fff;
}

#linha {
    background-color: #534bae;
    color: #523131;
}

#faleConosco table tr {
    width: 100%;
    height: 100px;
}

#faleConosco tr td {
    border: solid black 2px;
    text-align: center;
    font-size: 18px;
    width: 100px;
}

.icons {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#admUsuarios {
    /* display: none; */
    width: 100%;
    /* background-color: brown; */
    min-height: 500px;
    overflow: hidden;
}

.camposRegistro {
    width: inherit;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    margin-bottom: 15px;
}

.camposRegistro span {
    font-size: 18px;
    margin-left: 15px;
    border-bottom: solid 2px #000051;
    height: 30px;
}

.camposRegistro input {
    width: 600px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 5px;
    float: left;
    margin-left: 15px;
    background-color: none;
    border: none;
    border-bottom: solid 2px #000051;
    transition: all 0.3s;
    outline: none;
    display: block;
}

.camposRegistro input:focus {
    border: solid 3px #534bae;
    width: 650px;
}

.camposRegistro input[type="radio"] {
    width: 50px;
    height: 25px;
}

.camposRegistro input[type="radio"]:hover {
    border: solid 1px #534bae;
    cursor: pointer;
}

.camposRegistro label {
    width: 200px;
    height: 40px;
    /* background-color: #d2d; */
    display: block;
    float: left;
    margin-left: 15px;
    font-size: 18px;
}

.camposRegistro div {
    width: 100px;
    height: 30px;
    /* background-color: darkgoldenrod; */
    float: left;
}

#admUsuarios h1 {
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 200;
}

.camposRegistro input[type="submit"] {
    width: 500px;
    height: 30px;
    margin-left: 150px;
    background-color: #1a237e;
    color: #ffffff;
}

.camposRegistro input[type="submit"]:hover {
    background-color: #534bae;
    transition: 0.3s;
    cursor: pointer;
}

#usuarios {
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    /* background-color: brown; */
}

#usuarios table {
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

#linhaUsuario {
    background-color: #534bae;
    color: #ffffff;
}

#usuarios table tr {
    width: 100%;
    height: 100px;
}

#usuarios tr td {
    border: solid black 2px;
    /* text-align: center; */
    padding-left: 5px;
    width: 150px;
    font-size: 16px;
}

.registroNossasLojas {
    width: 700px;
    height: 50px;
    /* background-color: #1a237e; */
    margin: 0 auto;
    text-align: center;
}

.registroNossasLojas div {
    width: 300px;
    height: 30px;
    /* background-color: #534bae; */
    margin: 0 auto;
    float: left;
    border-bottom: solid 2px #000051;
    margin-right: 15px;
}

.registroNossasLojas input[type="text"],
.registroNossasLojas input[type="tel"] {
    width: 350px;
    height: 30px;
    float: left;
    border: none;
    border-bottom: solid 2px #000051;
    outline: none;
    font-size: 18px;
    transition: all 0.2s;
    padding-left: 5px;
    display: block;
}

.registroNossasLojas input[type="text"]:focus,
.registroNossasLojas input[type="tel"]:focus {
    border: solid 3px #000051;
    border-radius: 25px;
}

.registroNossasLojas input[type="submit"] {
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: solid 2px #000051;
    transition: all 0.2s;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 15px;
}

.registroNossasLojas input[type="submit"]:hover {
    background-color: #1a237e;
    color: #ffffff;
    border-bottom: solid 3px #000051;
    cursor: pointer;
    width: 325px;
}

#footer {
    width: 100%;
    height: 45px;
    background-color: #1a237e;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #ffffff;
}

#footer h1 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
}

#modalContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    display: none;
}

#modal {
    width: 800px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 0px;
}

#visualizarUsuarios {
    width: 800px;
    height: 500px;
    padding-left: 25px;
}

.linhaDiv {
    width: 100%;
    height: 30px;
}

.linhaDiv div {
    width: 375px;
    height: 30px;
    float: left;
    border: solid 2px #000051;
}

#fecharModal {
    margin-left: 700px;
    margin-bottom: 10px;
    user-select: none;
}

#fecharModal:hover {
    color: darkslateblue;
    cursor: pointer;
    transition: all 0.3s;
}

#fecharModal:active {
    color: #ffffff;
    transition: all 0.1s;
}